@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;1,500&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}
body {
    background-color: rgb(242, 240, 255);
}
html {
    scroll-behavior: smooth;
}

.max-width {
    max-width: 1300px;
    margin: auto;
    padding: 0 80px;
}

.navbar {
    padding: 26px 0;
    width: 100%;
    position: fixed;
    font-family: 'Ubuntu', sans-serif;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.6);
}

.navbar.sticky {
    background-color: #335ee0;
}

.navbar .max-width {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.navbar .logo a {
    font-size: 36px;
    font-weight: 600;
    color: white;
}

.navbar .logo a span {
    font-size: 36px;
    font-weight: 600;
    color: #4169E1;
}

.navbar .menu li {
    display: inline-block;
    list-style: none;
}

.navbar .menu li a {
    margin-left: 25px;
    font-size: 20px;
    font-weight: 500;
    color: white;
    padding: 3px;
    border: 1px;
    background-color: none;
    border-radius: 3px;
    transition: 0.3s all ease;
}

.navbar .menu li a:hover {
    color: lawngreen;
    text-decoration: underline;
}


.navbar .menu li a.activeNav {
    text-decoration: underline;
    color: lawngreen;
}
.menu-btn {
    color: white;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

.scroll-up-btn {
    position: fixed;
    height: 45px;
    width: 42px;
    background: rgb(36, 82, 219);
    color: white;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    z-index: 9999;
    cursor: pointer;
    border-radius: 6px;
    border: solid 2px white;
    font-size: 30px;
    opacity: 0;
    pointer-events: none;
    transition: all 1.3s ease;
}

.scroll-up-btn.show {
    opacity: 1;
    bottom: 30px;
    pointer-events: auto;
}

.scroll-up-btn:hover {
    transform: scale(1.125);
}

.home {
    display: flex;
    background-image: url(images/bg1.png);
    background-repeat: no-repeat;
    height: 110vh;
    background-position: center;
    background-size: cover;
    color: white;
    min-height: 500px;
    font-family: 'Ubuntu', sans-serif;
    /* animation: slider 10s infinite; */
}


/* @keyframes slider {
    0%{
        background-image: url(images/droid.webp);
        background-size: cover;
    }
    35%{
        background-image: url(images/bg1.png);
        background-size: cover;
    }
    75%{
        background-image: url(images/code.png);
        background-size: cover;
    }
} */

.home .max-width {
    margin: auto 0 auto 50px;
}

.home .homeContent .text1 {
    font-size: 27px;
}

.home .homeContent .text2 {
    font-size: 50px;
    font-weight: 600;
    margin-left: -3px;
}

.home .homeContent .text3 {
    font-size: 40px;
    margin: 5px 0;
}

.home .homeContent .text3 ul {
    font-size: 26px;
    list-style: none;
}

.home .homeContent .text3 span {
    color: #4169E1;
    font-weight: 500;
}


.fade_in {
    animation: fadeIn 2s;
}
.home .homeContent a {
    display: inline-block;
    background: #4169E1;
    color: white;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid white;
    transition: all 0.3s ease;
}

.home .homeContent a:hover {
    color: white;
    background: none;
}

.dancing-btn {
    width: 200px;
    animation: jump-shaking 1.5s infinite ;
}

.dancing-btn:hover {
    animation: jump-shaking 0.9s ;
}

.dancing-btn-2 {
    width: 220px;
    animation: vertical-shaking 0.8s infinite;
}

.dancing-btn-2:hover {
    animation: vertical-shaking 0.8s;
}

@keyframes vertical-shaking {
    0% { transform: translateY(0) }
    25% { transform: translateY(5px) }
    50% { transform: translateY(-5px) }
    75% { transform: translateY(5px) }
    100% { transform: translateY(0) }
}

@keyframes tilt-n-move-shaking {
    0% { transform: translate(0, 0) rotate(0deg); }
    25% { transform: translate(5px, 5px) rotate(5deg); }
    50% { transform: translate(0, 0) rotate(0eg); }
    75% { transform: translate(-5px, 5px) rotate(-5deg); }
    100% { transform: translate(0, 0) rotate(0deg); }
}

@keyframes jump-shaking {
    0% { transform: translateX(0) }
    15% { transform: translateY(-7px) }
    25% { transform: translateY(-7px) rotate(8deg) }
    45% { transform: translateY(-7px) rotate(-8deg) }
    55% { transform: translateY(-7px) rotate(8deg) }
    65% { transform: translateY(-7px) rotate(-8deg) }
    85% { transform: translateY(0) rotate(0) }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.about,
.services,
.skills,
.contact,
.projectGallery {
    padding: 100px 0;
    font-family: 'Ubuntu', sans-serif;
}

section .tittle {
    position: relative;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 50px;
    padding: 20px;
    font-family: 'Ubuntu', sans-serif;
}

section .tittle::before {
    content: "";
    position: absolute;
    width: 180px;
    height: 3px;
    background: black;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
}

section .tittle::after {
    position: absolute;
    background-color: rgb(242, 240, 255);
    font-size: 20px;
    color: black;
    bottom: -12px;
    left: 50%;
    padding: 5px;
    transform: translateX(-50%);
}

.about .about-content .left_img {
    height: 350px;
    width: 350px;
    border-radius: 6px;
    background: url(images/profile_1.jpg) center no-repeat;
    background-size: cover;
}

.about .tittle::after {
    content: "Who I Am";
}

.services .tittle::before {
    background: #fff;
}

.services .tittle::after {
    background: rgb(79, 62, 172);
    color: white;
    content: "What I offer";
}

.skills .tittle::after {
    content: "What I Know";
    color: #111;
}

.projectGallery .tittle::before {
    background: #fff;
}

.projectGallery .tittle::after {
    background: rgb(79, 62, 172);
    content: "My Projects";
    color: white;
}

.contact .tittle::after {
    content: "Get In Touch";
}

.about .about-content,
.services .services-content,
.skills .skills-content,
.contact .contact-content,
.projectGallery .projects-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.about .about-content .column_right {
    width: 55%;
}

.about .about-content .column_right .columnText {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}

.about .about-content .column_right .columnText span {
    color: #4169E1;
}

.about .about-content .column_right p {
    text-align: justify;
}

.about .about-content .column_right a {
    display: inline-block;
    background: #4169E1;
    color: white;
    font-weight: 500;
    font-size: 20px;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 4px;
    border: 2px solid black;
    transition: all 0.3s ease;
}

.about .about-content .column_right a:hover {
    color: black;
    background: none;
}

.services,
.projectGallery {
    background: rgb(79, 62, 172);
    color: white;
}

.services .services-content {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: stretch;
    flex-direction: row;
    flex-wrap: wrap;
}
.services .services-content .card {
    width: calc(33% - 10px);
    color: white;
    background: #4169E1;
    padding-top: 20px;
    text-align: center;
    border-radius: 6px;
    padding: 20px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-right: 10px;
    margin-bottom: 20px;
}

.services .services-content .card:hover{
    background-color: white;
    color: black;
    animation: vertical-shaking 0.8s;
}


.services .services-content .card i {
    font-size: 50px;
    color: lawngreen;
    transition: color 0.3s ease;
}

.services .services-content .card:hover i, p {
    color: black;
}
.services .services-content .card:hover  p {
    color: black;
}

.services .services-content .card .text {
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}

.services .services-content .card .box {
    color: white;
    width: 100%;
    transition: all 0.3s ease;
}

.services .services-content .card .box:hover {
    transform: scale(1.05);
    color: black;
}

.services .services-content .card .box:hover {
    color: black;
}

.skills .skills-content .left-column {
    width: calc(50% - 30px);
}

.skills .skills-content .right-column {
    width: calc(50% - 30px);
}

.skills .skills-content .left-column .text {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}

.skills .skills-content .left-column p {
    text-align: justify;
}

.skills .skills-content .left-column a {
    display: inline-block;
    background: #4169E1;
    color: white;
    font-size: 18px;
    padding: 8px 16px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid black;
    transition: all 0.3s ease;
}

.skills .skills-content .left-column a:hover {
    color: black;
    background: none;
}

.skills .skills-content .right-column .pregression-bars {
    margin-bottom: 10px;
}

.skills .skills-content .right-column .info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.skills .skills-content .right-column .info span {
    font-size: 18px;
    font-weight: 500;
}

.skills .skills-content .right-column .line {
    width: 100%;
    height: 5px;
    background-color: lightgray;
    position: relative;
    margin-bottom: 20px;
}

.skills .skills-content .right-column .line::before {
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #4169E1;
}

.skills .skills-content .right-column .html::before {
    width: 90%;
}

.skills .skills-content .right-column .css::before {
    width: 80%;
}

.skills .skills-content .right-column .javascript::before {
    width: 55%;
}

.skills .skills-content .right-column .php::before {
    width: 70%;
}

.skills .skills-content .right-column .sql::before {
    width: 65%;
}

.skills .skills-content .right-column .java::before {
    width: 72%;
}


/* project gallery styling */
.projectGallery .projects-content {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: stretch;
    flex-direction: row;
    flex-wrap: wrap;
}

.projectGallery .projects-content .card {
    background: #4169E1;
    width: calc(33% - 10px);
    margin-right: 10px;
    color: white;
    border-radius: 6px;
    padding-top: 3px;
    margin-bottom: 20px;
    
}

.projectGallery .projects-content .card h3 {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    color: white;
    text-decoration: underline;
    margin-bottom: 10px;
}

.card p {
    text-align: justify;
    font-size: 18px;
    color: white;
}

.projectDP {
    background-image: url(images/droid.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    width: 200px;
    border-radius: 100px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid white;
    box-shadow:
  0 2.8px 2.2px rgba(14, 13, 13, 0.171),
  0 6.7px 5.3px rgba(14, 13, 13, 0.185),
  0 12.5px 10px rgba(29, 28, 28, 0.178),
  0 22.3px 17.9px rgba(20, 20, 20, 0.274),
  0 41.8px 33.4px rgba(17, 17, 17, 0.205),
  0 100px 80px rgba(20, 20, 20, 0.205);
    margin-bottom: 20px;
}

.projectDetails {
    padding: 20px;
    transition: all 0.3s ease;
}

.projectDetails:hover {
    transform: scale(1.03);
    background: white;
    border-radius: 6px;
    cursor: pointer;
    animation: vertical-shaking 0.8s;
}

.projectDetails:hover h3 {
    color: black;
}

.projectDetails:hover p {
    color: black;
}
.projectDetails:hover .projectDP {
    border: 2px solid black;
}
.card .projectBtn {
    margin-top: 20px;
    height: 50px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.card .projectBtn button {
    height: 100%;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    background: green;
    color: white;
    border-radius: 6px;
    border: 2px solid white;
    transition: all 0.3s ease;
}

.card .projectBtn button i {
    font-size: 24px;
}
.card .projectBtn button:hover {
    color: white;
    background: none;
    cursor: pointer;
    transform: scale(1.05);
}

/* contacts section styling*/

.contact .contact-content .column {
    width: calc(50% - 30px);
}

.contact .contact-content .text {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.contact .contact-content .left p {
    text-align: justify;
}

.contact .contact-content .left .icons {
    margin: 10px 0;
}

.contact .contact-content .row {
    display: flex;
    height: 65px;
    align-items: center;
}

.contact .contact-content .row .information {
    margin-left: 30px;
}

.contact .contact-content .row i {
    font-size: 25px;
    color: #4169E1;
}

.contact .contact-content .information .head {
    color: black;
    font-weight: 600;
}

.contact .contact-content .information .sub-tittle,
.contact .contact-content .information .sub-tittle a {
    color: #333;
}

.contact .right form .fields {
    display: flex;
}

.contact .right form .name {
    margin-right: 10px;
}

.contact .right form .email {
    margin-left: 10px;
}

.contact .right form .field,
.contact .right form .fields .field {
    height: 45px;
    width: 100%;
    margin-bottom: 10px;
}

.contact .right form .textArea {
    height: 150px;
    width: 100%;
}

.contact .right form .field input,
.contact .right form .textArea textarea {
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
}

.contact .right form .textArea textarea {
    padding-top: 10px;
    resize: none;
}

.contact .right form .button {
    height: 45px;
    width: 170px;
}

.contact .right form .button button {
    height: 100%;
    width: 100%;
    border: 2px solid black;
    background: #4169E1;
    color: white;
    border-radius: 6px;
    font-size: 20px;
    font-weight: 500;
    transition: 0.3s all ease;
    cursor: pointer;
}

.contact .right form .button button:hover {
    color: black;
    background: none;
}

.logos {
    width: 100%;
    margin-top: 28px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    margin-left: auto;
    margin-right: auto;
    height: 30px;

}

.logos i {
    font-size: 24px;
    color: blueviolet;
    font-weight: 400;
    margin-right: 30px;
    transition: all ease 0.5s;
    box-shadow:
  0 2.8px 2.2px rgba(14, 13, 13, 0.171),
  0 6.7px 5.3px rgba(14, 13, 13, 0.185),
  0 12.5px 10px rgba(29, 28, 28, 0.178),
  0 22.3px 17.9px rgba(20, 20, 20, 0.274),
  0 41.8px 33.4px rgba(17, 17, 17, 0.205),
  0 100px 80px rgba(20, 20, 20, 0.205);
    margin-bottom: 20px;
    border: 1px black;
}

.logos i:hover {
    color: black;
    cursor: pointer;
    transform: scale(1.125);
}


footer {
    font-family: 'Ubuntu', sans-serif;
    background: #4169E1;
    padding: 20px 23px;
    color: white;
    text-align: center;
    margin-bottom: 1px;
}

footer span a {
    color: black;
    text-decoration: none;
}

footer span a:hover {
    text-decoration: underline;
}






/*responsiveness */


@media(max-width: 991px) {
    .max-width {
        padding: 0 50px;
    }

    .menu-btn {
        display: block;
        z-index: 999;
    }

    .menu {
        position: fixed;
        height: 450px;
        width: 100%;
        left: -100%;
        top: 0;
        background: #4169E1;
        text-align: center;
        padding-top: 80px;
        transition: all 0.6s ease;
    }

    .menu.active {
        left: 0;
    }

    .navbar .menu li {
        display: block;
    }

    .navbar .menu li a {
        display: block;
        margin: 20px 0;
        font-size: 25px;
    }

    .home .max-width {
        margin: auto 0 auto 30px;
    }

    .home {
        display: flex;
        background: url(images/bg1.png)
        no-repeat center;
        height: 100vh;
        background-position: center;
        background-size: cover;
        color: white;
        min-height: 500px;
        font-family: 'Ubuntu', sans-serif;
    }

    .home .homeContent .text1 {
        font-size: 22px;
    }

    .home .homeContent .text2 {
        font-size: 40px;
        font-weight: 500;
        margin-left: -3px;
    }

    .home .homeContent .text3 {
        font-size: 35px;
        margin: 5px 0;
    }

    .home .homeContent .text3 span {
        color: #4169E1;
        font-weight: 400;
    }

    .about .about-content .left_img {
        height: 300px;
        width: 300px;
    }

    .services .services-content .card {
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }

    .skills .skills-content .left-column,
    .skills .skills-content .right-column {
        width: 100%;
        margin-bottom: 25px;
    }

    .projectGallery .projects-content .card {
        background: #4169E1;
        width: calc(50% - 10px);
        margin-bottom: 20px;
        color: white;
        border-radius: 6px;
        padding-top: 3px;
    }
}

@media(max-width: 768px) {

    .home .max-width {
        margin: auto 0 auto 25px;
    }

    .home .homeContent .text1 {
        font-size: 22px;
    }

    .home .homeContent .text2 {
        font-size: 45px;
        font-weight: 400;
        margin-left: -3px;
    }

    .home .homeContent .text3 {
        font-size: 30px;
        margin: 5px 0;
    }

    .home .homeContent .text3 span {
        font-weight: 300;
    }

    .home .homeContent a {
        font-size: 22px;
        padding: 10px 25px;
    }

    .about .about-content .left_img {
        height: 270px;
        width: 270px;
    }

    .services .services-content .card {
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }

    .contact .contact-content .column {
        width: 100%;
        margin-bottom: 25px;
    }

    .projectGallery .projects-content .card {
        background: #222;
        width: 100%;
        color: white;
        border-radius: 6px;
        padding-top: 3px;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media(max-width: 768px) {
    .home {
        display: flex;
        background: url(images/phone.png) no-repeat center;
        height: 100vh;
        background-position: center;
        background-size: cover;
        color: white;
        min-height: 500px;
        font-family: 'Ubuntu', sans-serif;
    }

    .home .max-width {
        margin: auto 0 auto 12px;
        width: 100%;
    }

    .max-width {
        padding-left: 18px;
        padding-right: 18px;
    }
    .home .homeContent .text1 {
        font-size: 22px;
    }

    .home .homeContent .text2 {
        font-size: 23px;
        font-weight: 400;
        margin-left: -3px;
    }

    .home .homeContent .text3 {
        font-size: 20px;
        margin: 5px 0;
    }

    .home .homeContent .text3 span {
        font-weight: 300;
    }

    .home .homeContent a {
        font-size: 18px;
        padding: 8px 20px;
    }

    .about .about-content .left_img {
        height: 350px;
        width: 350px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }

    .about .about-content .column_right {
        width: 100%;
        margin-top: 40px;
    }

    .about .about-content .column_right .columnText {
        font-size: 18px;
    }
    .about .about-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .services .services-content .card,
    .skills .skills-content .left-column,
    .skills .skills-content .right-column,
    .contact .contact-content .column {
        width: 100%;
        margin-bottom: 25px;
    }

    footer {
        font-size: 12px;
    }

    .projectGallery .projects-content .card {
        background: #4169E1;
        width: calc(100%);
        color: white;
        border-radius: 6px;
        padding-top: 3px;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
    }
}